<form autocomplete="off" onsubmit="event.preventDefault();">
    {{#each settings as |setting s|}}
        <div class="form-group">
            <label for="{{setting.key}}">{{localize setting.name}}</label>
            <div class="form-fields">
                {{#if setting.choice}}
                    <select name="{{setting.key}}" id="{{setting.key}}">
                        {{#select setting.value}}
                            {{#each setting.choices as |choice key|}}
                                <option value="{{key}}">
                                    {{localize choice}}
                                </option>
                            {{/each}}
                        {{/select}}
                    </select>
                {{else}}
                    {{#if setting.actorType}}
                        <input type="hidden" name="{{setting.key}}" value="{{setting.value}}">
                        <input type="checkbox" name="{{setting.key}}"
                            {{checked (getActorTypeConfig setting.value 'character')}}
                               value="character" title="{{localize 'ACTOR.TypeCharacter'}}">
                        <input type="checkbox" name="{{setting.key}}"
                            {{checked (getActorTypeConfig setting.value 'npc')}}
                               value="npc" title="{{localize 'ACTOR.TypeNpc'}}">
                        <input type="checkbox" name="{{setting.key}}"
                            {{checked (getActorTypeConfig setting.value 'creature')}}
                               value="creature" title="{{localize 'ACTOR.TypeCreature'}}">
                        <input type="checkbox" name="{{setting.key}}"
                            {{checked (getActorTypeConfig setting.value 'vehicle')}}
                               value="vehicle" title="{{localize 'ACTOR.TypeVehicle'}}">
                        <input type="checkbox" name="{{setting.key}}"
                            {{checked (getActorTypeConfig setting.value 'starship')}}
                               value="starship" title="{{localize 'ACTOR.TypeStarship'}}">
                    {{else}}
                        {{#if (eq setting.filePicker "image")}}
                            <input type="{{setting.inputType}}" name="{{setting.key}}"
                                   data-dtype="{{setting.type.name}}"
                                   value="{{setting.value}}">
                            {{filePicker target=setting.key type="image"}}
                        {{else}}
                            <input type="{{setting.inputType}}" name="{{setting.key}}"
                                   data-dtype="{{setting.type.name}}"
                                   value="{{setting.value}}" {{checked setting.value}}>
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
            <p class="notes">{{{localize setting.hint}}}</p>
        </div>
    {{/each}}
    <div class="submit">
        <button type="button" name="submit">{{localize "Submit"}}</button>
    </div></form>

