{{!-- Sheet Tab Navigation --}}
<nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="main">{{localize 'OD6S.TAB_MAIN'}}</a>
    <a class="item" data-tab="cargo-hold">{{localize 'OD6S.TAB_CARGO_HOLD'}}</a>
    <a class="item" data-tab="description">{{localize 'OD6S.DESCRIPTION'}}</a>
    {{#if (eq actor.system.sheetmode.value 'freeedit') }}
        <a class="item" data-tab="data"><i class="fas fa-cog"></i></a>
    {{/if}}
</nav>
{{!-- Sheet Body --}}
<section class="sheet-body">
    {{!-- Attribues Tab --}}
    {{> systems/od6s/templates/actor/starship/tabs/main.html }}

    {{!-- Cargo Hold Tab --}}
    {{> systems/od6s/templates/actor/common/tabs/cargo-hold.html }}

    {{!-- Description tab --}}
    {{>systems/od6s/templates/actor/common/tabs/description.html}}

    {{#if (eq actor.system.sheetmode.value 'freeedit') }}
    {{!-- Data Tab --}}
        {{> systems/od6s/templates/actor/starship/tabs/data.html }}
    {{/if}}
</section>