{{!-- Sheet Tab Navigation --}}
<nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize 'OD6S.TAB_ATTRSKILLS'}}</a>
    <a class="item" data-tab="combat">{{localize 'OD6S.TAB_COMBAT'}}</a>
    {{#if actor.system.metaphysicsextranormal.value}}
        <a class="item" data-tab="metaphysics">{{getMetaphysicsName}}</a>
    {{/if}}
    <a class="item" data-tab="inventory">{{localize 'OD6S.TAB_INVENTORY'}}</a>
    {{#if (isCrewMember actor) }}
        <a class="item" data-tab="vehicle">{{localize 'OD6S.TAB_VEHICLE'}}</a>
    {{/if}}
    <a class="item" data-tab="special-abilities">{{localize 'OD6S.TAB_SPECIAL_ABILITIES'}}</a>
    {{#if (hasCybernetics actor) }}
        <a class="item" data-tab="cybernetics">{{localize 'OD6S.TAB_CYBERNETICS'}}</a>
    {{/if}}
    <a class="item" data-tab="description">{{localize 'OD6S.TAB_BIOGRAPHY'}}</a>
    {{#if (eq actor.system.sheetmode.value 'freeedit') }}
        <a class="item" data-tab="data"><i class="fas fa-cog"></i></a>
    {{/if}}
</nav>
{{!-- Sheet Body --}}
<section class="sheet-body">
    {{!-- Attribues Tab --}}
    {{> systems/od6s/templates/actor/character/tabs/attributes.html}}

    {{!-- Combat Tab --}}
    {{> systems/od6s/templates/actor/common/tabs/combat.html}}

    {{!-- Metaphysics Tab --}}{{#if actor.system.metaphysicsextranormal.value}}
    {{> systems/od6s/templates/actor/character/tabs/metaphysics.html}}{{/if}}

    {{!-- Inventory Tab --}}
    {{> systems/od6s/templates/actor/character/tabs/inventory.html}}

    {{!-- Vehicle Tab --}}{{#if (isCrewMember actor) }}
    {{> systems/od6s/templates/actor/common/tabs/vehicle.html}}{{/if}}

    {{!-- Owned Special Abilities Tab --}}
    {{> systems/od6s/templates/actor/common/tabs/special-abilities.html}}

    {{!-- Owned Cybernetics Tab --}}
    {{> systems/od6s/templates/actor/common/tabs/cybernetics.html}}

    {{!-- Biography Tab --}}
    {{> systems/od6s/templates/actor/character/tabs/biography.html}}

    {{#if (eq actor.system.sheetmode.value 'freeedit') }}
    {{!-- Data Tab --}}
        {{> systems/od6s/templates/actor/common/tabs/data.html}}
    {{/if}}
</section>
<section class="sheet-mode">
    <div class="flexrow flex-group-left sheetmode">
        <label for="actor.system.sheetmode.value">{{localize 'OD6S.SHEETMODE'}}:</label>
        <select name="system.sheetmode.value" style="width: 70px;">
            {{#select actor.system.sheetmode.value}}
                <option value="normal">{{localize 'OD6S.SHEETMODE_NORMAL'}}</option>
                <option value="advance">{{localize 'OD6S.SHEETMODE_ADVANCE'}}</option>
                <option value="freeedit">{{localize 'OD6S.SHEETMODE_FREEDIT'}}</option>
            {{/select}}
        </select>
    </div>
</section>