<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"
             alt="{{localize 'OD6S.ALT_ITEM_IMAGE'}}"/>
        <div class="header-fields">
            <div>
                <h2 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h2>
                <div class="flex-left">
                    <div class="resource">
                        <label class="resource-label" for="item.system.quantity">Quantity</label>
                        <input type="text" name="system.quantity" id="item.system.quantity" value="{{item.system.quantity}}"
                               data-dtype="Number"/>
                    </div>
                    {{#if (eq (getCost) '0')}}
                        <div class="resource">
                            <label class="resource-label" for="item.system.price">{{localize 'OD6S.PRICE'}}</label>
                            <select name="system.price" id="item.system.price">
                                {{#select item.system.price}}
                                    {{#each (getPrices) as |price key|}}
                                        <option value="{{ key }}">
                                            {{key}}: {{localize price}}
                                        </option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    {{else}}
                        <div class="resource">
                            <label class="resource-label" for="item.system.cost">{{localize 'OD6S.COST'}}</label>
                            <input type="text" name="system.cost" id="item.system.cost" value="{{item.system.cost}}"
                                   data-dtype="Number"/>
                        </div>
                    {{/if}}
                    {{# if (useWeaponArmorDamage) }}
                        <div class="resource">
                            <label class="resource-label" for="item.system.damaged">{{localize 'OD6S.DAMAGE'}}</label>
                            <select name="system.damaged" id="item.system.damaged">
                                {{#select item.system.damaged}}
                                    {{#each (getWeaponDamageLevels) as |level key|}}
                                        <option value="{{ key }}">
                                            {{localize level}}
                                        </option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "OD6S.DESCRIPTION"}}</a>
        <a class="item" data-tab="attributes">{{localize "OD6S.ATTRIBUTES"}}</a>
        <a class="item" data-tab="effects">{{localize "OD6S.EFFECTS"}}</a>
        <a class="item" data-tab="labels">{{localize "OD6S.LABELS"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="editor">{{ editor item.system.description target="system.description" button=true owner=owner
                                         editable=editable}}
            </div>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{!-- As you add new fields, add them in here! --}}
            <div>{{localize 'OD6S.TYPE'}}: {{localize "OD6S.STARSHIP_WEAPON"}}</div>
            <div class="flexrow flex-group-left">
                <p>{{localize 'OD6S.RANGE'}}:</p>
                <label for="item.system.range.short">{{localize 'OD6S.RANGE_SHORT'}}:</label>
                <input title="{{localize 'OD6S.RANGE_SHORT'}}"
                       onfocus="this.value=''" data-dtype="Number"
                       name="system.range.short" type="number" value="{{item.system.range.short}}">
                <label for="item.system.range.medium">{{localize 'OD6S.RANGE_MEDIUM'}}:</label>
                <input title="{{localize 'OD6S.RANGE_MEDIUM'}}"
                       onfocus="this.value=''" data-dtype="Number"
                       name="system.range.medium" type="number" value="{{item.system.range.medium}}">
                <label for="item.system.range.long">{{localize 'OD6S.RANGE_LONG'}}:</label>
                <input title="{{localize 'OD6S.RANGE_LONG'}}"
                       onfocus="this.value=''" data-dtype="Number"
                       name="system.range.long" type="number" value="{{item.system.range.long}}">
            </div>
            <div class="row">
                <div class="column-vw vw-left">
                    <div class="flexrow flex-group-center">{{localize 'OD6S.DAMAGE'}}</div>
                    <div class="flexrow flex-group-center">
                        <div class="flexrow flex-group-left editweapondamage"
                             data-item-id="{{item.id}}" data-score="{{item.system.damage.score}}">
                            <label for="dice">{{localize 'OD6S.DICE'}}</label>
                            <input title="{{localize 'OD6S.DICE'}}" id="dice" type="number" onfocus="this.value=''"
                                   value="{{diceFromScore item.system.damage.score}}" data-dtype="Number"/>
                        </div>
                        <div class="flexrow flex-group-left editweapondamage"
                             data-item-id="{{item.id}}" data-score="{{item.system.damage.score}}">
                            <label for="pips">{{localize 'OD6S.PIPS'}}</label>
                            <input title="{{localize 'OD6S.PIPS'}}" id="pips" type="number" onfocus="this.value=''"
                                   value="{{pipsFromScore item.system.damage.score}}" data-dtype="Number"/>
                        </div>
                        <div class="flexrow flex-group-left" title="{{localize 'OD6S.DAMAGE_TYPE'}}">
                            <label for="item.system.damage.type"></label>
                            <select name="system.damage.type" id="item.system.damage.type">
                                {{#select item.system.damage.type }}
                                    {{#each (getDamageTypes) as |damagetype key|}}
                                        <option value="{{ key }}">
                                            {{localize damagetype}}
                                        </option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="column-vw vw-right">
                    <div class="flexrow flex-group-center">{{localize 'OD6S.FIRE_CONTROL'}}</div>
                    <div class="flexrow flex-group-center">
                        <div class="flexrow flex-group-left editweaponfirecontrol"
                             data-item-id="{{item.id}}" data-score="{{item.system.fire_control.score}}">
                            <label for="dice">{{localize 'OD6S.DICE'}}</label>
                            <input title="{{localize 'OD6S.DICE'}}" id="dice" type="number" onfocus="this.value=''"
                                   value="{{diceFromScore item.system.fire_control.score}}" data-dtype="Number"/>
                        </div>
                        <div class="flexrow flex-group-left editweaponfirecontrol"
                             data-item-id="{{item.id}}" data-score="{{item.system.fire_control.score}}">
                            <label for="pips">{{localize 'OD6S.PIPS'}}</label>
                            <input title="{{localize 'OD6S.PIPS'}}" id="pips" type="number" onfocus="this.value=''"
                                   value="{{pipsFromScore item.system.fire_control.score}}" data-dtype="Number"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flexrow flex-group-left">
                <div class="flexrow flex-group-left">
                    <label title="{{localize 'OD6S.TOOLTIP_STARSHIP_WEAPON_SCALE'}}" for="item.system.scale.score">{{localize
                            'OD6S.SCALE'}}</label>
                    <input title="{{localize 'OD6S.TOOLTIP_STARSHIP_WEAPON_SCALE'}}" name="system.scale.score"
                           onfocus="this.value=''"
                           type="number" data-dtype="Number" value="{{item.system.scale.score}}"/>
                </div>
            </div>
            <div class="flexrow flex-group-left">
                <div class="flexrow flex-group-left">
                    <label title="{{localize 'OD6S.TOOLTIP_STARSHIP_WEAPON_CREW'}}" for="item.system.crew.value">{{localize
                            'OD6S.CREW'}}</label>
                    <input title="{{localize 'OD6S.TOOLTIP_STARSHIP_WEAPON_CREW'}}" name="system.crew.value"
                           onfocus="this.value=''"
                           type="number" data-dtype="Number" value="{{item.system.crew.value}}"/>
                </div>
            </div>
            <div class="flexrow flex-group-left">
                <label title="{{localize 'OD6S.TOOLTIP_STARSHIP_WEAPON_ARC'}}" for="item.system.arc.value">{{localize
                        'OD6S.ARC'}}</label>
                <input title="{{localize 'OD6S.TOOLTIP_STARSHIP_WEAPON_ARC'}}" name="system.arc.value"
                       value="{{item.system.arc.value}}" data-dtype="String"/>
            </div>
            <div class="flexrow flex-group-left">
                <div class="flexrow flex-group-left">
                    <label for="item.system.difficulty">{{localize 'OD6S.ATTACK_DIFFICULTY_MODIFIER'}}</label>
                    <input title="{{localize 'OD6S.ATTACK_DIFFICULTY_MODIFIER'}}" name="system.difficulty"
                           onfocus="this.value=''"
                           type="number" data-dtype="Number" value="{{item.system.difficulty}}"/>
                </div>
            </div>
            <div class="flexrow flex-group-left">
                <label for="item.system.attribute.value">{{localize 'OD6S.ATTRIBUTE'}}</label>
                <input title="{{localize 'OD6S.ATTRIBUTE'}}" name="system.attribute.value"
                       value="{{item.system.attribute.value}}" data-dtype="String"/>
            </div>
            <div class="flexrow flex-group-left">
                <label for="item.system.skill.value">{{localize 'OD6S.SKILL'}}</label>
                <input title="{{localize 'OD6S.SKILL'}}" name="system.skill.value"
                       value="{{item.system.skill.value}}" data-dtype="String"/>
            </div>
            <div class="flexrow flex-group-left">
                <label for="item.system.specialization.value">{{localize 'OD6S.SPECIALIZATION'}}</label>
                <input title="{{localize 'OD6S.SPECIALIZATION'}}" name="system.specialization.value"
                       value="{{item.system.specialization.value}}" data-dtype="String"/>
            </div>
            <div class="flexrow flex-group-center">{{localize 'OD6S.ACTIVE_EFFECTS'}}</div>
            <div class="flexrow flex-group-center">
                <div class="flexrow flex-group-left">
                    <label for="item.system.mods.difficulty">{{localize 'OD6S.ATTACK_DIFFICULTY_MODIFIER'}}</label>
                    <input title="{{localize 'OD6S.ATTACK_DIFFICULTY_MODIFIER'}}" name="system.mods.difficulty"
                           onfocus="this.value=''"
                           type="number" data-dtype="Number" value="{{item.system.mods.difficulty}}"/>
                </div>
                <div class="flexrow flex-group-left">
                    <label for="item.system.mods.attack">{{localize 'OD6S.ATTACK_BONUS'}}</label>
                    <input title="{{localize 'OD6S.ATTACK_BONUS'}}" name="system.mods.attack" onfocus="this.value=''"
                           type="number" data-dtype="Number" value="{{item.system.mods.attack}}"/>
                </div>
                <div class="flexrow flex-group-left">
                    <label for="item.system.mods.damage">{{localize 'OD6S.DAMAGE_BONUS'}}</label>
                    <input title="{{localize 'OD6S.DAMAGE_BONUS'}}" name="system.mods.damage" onfocus="this.value=''"
                           type="number" data-dtype="Number" value="{{item.system.mods.damage}}"/>
                </div>
            </div>
            <br>
            <div class="grid grid-2col">
                <div class="flexrow flex-group-left">
                    <div class="flexrow flex-group-left">
                        <label title="{{localize item.system.area-units.label}}" for="item.system.area-units.value">{{localize
                                system.area-units.label}}</label>
                        <input title="{{localize item.system.area-units.label}}" name="system.area-units.value"
                               onfocus="this.value=''"
                               type="number" data-dtype="Number" value="{{item.system.area-units.value}}"/>
                    </div>
                </div>
                <div class="flexrow flex-group-left">
                    <div class="flexrow flex-group-left">
                        <label title="{{localize item.system.mass.label}}" for="item.system.mass.value">{{localize
                                system.mass.label}}</label>
                        <input title="{{localize item.system.mass.label}}" name="system.mass.value"
                               onfocus="this.value=''"
                               type="number" data-dtype="Number" value="{{item.system.mass.value}}"/>
                    </div>
                </div>
                <div class="flexrow flex-group-left">
                    <div class="flexrow flex-group-left">
                        <label title="{{localize item.system.energy.label}}" for="item.system.energy.value">{{localize
                                system.energy.label}}</label>
                        <input title="{{localize item.system.energy.label}}" name="system.energy.value"
                               onfocus="this.value=''"
                               type="number" data-dtype="Number" value="{{item.system.energy.value}}"/>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Effects Tab --}}
        {{> systems/od6s/templates/item/item-effects.html }}

        {{!--Labels Tab --}}
        {{> systems/od6s/templates/item/item-labels-tags.html }}
    </section>
</form>
