<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"
             alt="{{localize 'OD6S.ALT_ITEM_IMAGE'}}"/>
        <div class="header-fields">
            <div>
                <h2 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h2>
                <div class="flex-left">
                    <div class="grid grid-2col">
                        <div class="resource">
                            <label class="resource-label" for="item.system.quantity">Quantity</label>
                            <input type="text" name="system.quantity" id="item.system.quantity"
                                   value="{{item.system.quantity}}"
                                   data-dtype="Number"/>
                        </div>
                        {{#if (eq (getCost) '0')}}
                            <div class="resource">
                                <label class="resource-label" for="item.system.price">{{localize 'OD6S.PRICE'}}</label>
                                <select name="system.price" id="item.system.price">
                                    {{#select item.system.price}}
                                        {{#each (getPrices) as |price key|}}
                                            <option value="{{ key }}">
                                                {{key}}: {{localize price}}
                                            </option>
                                        {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                            {{#if (gt item.system.ammo 0)}}
                                <div class="resource">
                                    <label class="resource-label" for="item.system.ammo_price">{{localize
                                            'OD6S.AMMO_PRICE'}}</label>
                                    <select name="system.ammo_price" id="item.system.ammo_price">
                                        {{#select item.system.ammo_price}}
                                            {{#each (getPrices) as |ammo_price key|}}
                                                <option value="{{ key }}">
                                                    {{key}}: {{localize ammo_price}}
                                                </option>
                                            {{/each}}
                                        {{/select}}
                                    </select>
                                </div>
                            {{/if}}
                        {{else}}
                            <div class="resource">
                                <label class="resource-label" for="item.system.cost">{{localize 'OD6S.COST'}}</label>
                                <input type="text" name="system.cost" id="item.system.cost" value="{{item.system.cost}}"
                                       data-dtype="Number"/>
                            </div>
                        {{/if}}
                        {{# if (useWeaponArmorDamage) }}
                            <div class="resource">
                                <label class="resource-label" for="item.system.damaged">{{localize 'OD6S.DAMAGE'}}</label>
                                <select name="system.damaged" id="item.system.damaged">
                                    {{#select item.system.damaged}}
                                        {{#each (getWeaponDamageLevels) as |level key|}}
                                            <option value="{{ key }}">
                                                {{localize level}}
                                            </option>
                                        {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "OD6S.DESCRIPTION"}}</a>
        <a class="item" data-tab="attributes">{{localize "OD6S.ATTRIBUTES"}}</a>
        <a class="item" data-tab="effects">{{localize "OD6S.EFFECTS"}}</a>
        <a class="item" data-tab="labels">{{localize "OD6S.LABELS"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="editor">{{ editor item.system.description target="system.description" button=true owner=owner
                                          editable=editable}}
            </div>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{!-- As you add new fields, add them in here! --}}
            <div>{{localize 'OD6S.TYPE'}}: {{localize "OD6S.WEAPON"}}</div>
            <div class="flexrow flex-group-left">
                <label for="item.system.subtype">{{localize 'OD6S.CHAR_WEAPONS_TYPE'}}:</label>
                <select name="system.subtype" id="item.system.subtype">
                    {{#select item.system.subtype}}
                        {{#each (getWeaponTypes) as |subtype|}}
                            <option value="{{ localize subtype }}">
                                {{localize subtype}}
                            </option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="flexrow flex-group-left">
                <label title="{{localize 'OD6S.TOOLTIP_VEHICLE_WEAPON_SCALE'}}" for="item.system.scale.value">{{localize
                        'OD6S.SCALE'}}</label>
                <input title="{{localize 'OD6S.TOOLTIP_VEHICLE_WEAPON_SCALE'}}" name="system.scale.score"
                       type="number" data-dtype="Number" value="{{item.system.scale.score}}"/>
            </div>
            {{# if (eq item.system.subtype (localize 'OD6S.MELEE'))}}
                {{# if (getMeleeDifficulty) }}
                    <div class="flexrow flex-group-left">
                        <label for="item.system.difficulty">{{localize 'OD6S.DIFFICULTY'}}:</label>
                        <select name="system.difficulty" id="item.system.difficulty">
                            {{#select item.system.difficulty}}
                                {{#each (getMeleeDifficultyLevels) as |level|}}
                                    <option value="{{ level }}">
                                        {{localize level}}
                                    </option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                {{/if}}
            {{/if}}
            {{#if (isRanged item.system.subtype)}}
                <div class="flexrow flex-group-left">
                    <p>{{localize 'OD6S.RANGE'}}:</p>
                    <label for="item.system.range.short">{{localize 'OD6S.RANGE_SHORT'}}:</label>
                    <input title="{{localize 'OD6S.RANGE_SHORT'}}"
                           onfocus="this.value=''" data-dtype="String"
                           name="system.range.short" type="text" value="{{item.system.range.short}}">
                    <label for="item.system.range.medium">{{localize 'OD6S.RANGE_MEDIUM'}}:</label>
                    <input title="{{localize 'OD6S.RANGE_MEDIUM'}}"
                           onfocus="this.value=''" data-dtype="String"
                           name="system.range.medium" type="text" value="{{item.system.range.medium}}">
                    <label for="item.system.range.long">{{localize 'OD6S.RANGE_LONG'}}:</label>
                    <input title="{{localize 'OD6S.RANGE_LONG'}}"
                           onfocus="this.value=''" data-dtype="String"
                           name="system.range.long" type="text" value="{{item.system.range.long}}">
                </div>
                <div class="flexrow flex-group-left">
                    <label for="item.system.ammo">{{localize 'OD6S.AMMO'}}:</label>
                    <input title="{{localize 'OD6S.AMMO'}}" data-dtype="Number" onfocus="this.value=''"
                           name="system.ammo" type="number" value="{{item.system.ammo}}">
                    <label for="item.system.rof">{{localize 'OD6S.RATE_OF_FIRE'}}:</label>
                    <input title="{{localize 'OD6.RATE_OF_FIRE'}}" data-dtye="Number" onfocus="this.value=''"
                           name="system.rof" type="number" value="{{item.system.rof}}">
                </div>
            {{/if}}
            <div class="flexrow flex-group-center">{{localize 'OD6S.DAMAGE'}}</div>
            <div class="row">
                {{#if (isGrenadeDice item.system.subtype)}}
                {{else}}
                    <div class="column">
                        <div>
                            <div class="flex flex-group-left editweapondamage"
                                 data-item-id="{{item.id}}" data-score="{{item.system.damage.score}}">
                                <label for="dice">{{localize 'OD6S.DICE'}}</label>
                                <input title="{{localize 'OD6S.DICE'}}" id="dice" type="number"
                                       onfocus="this.value=''"
                                       value="{{diceFromScore item.system.damage.score}}" data-dtype="Number"
                                        {{#if item.system.stun.stun_only}}disabled{{/if}}/>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <div class="flex flex-group-left editweapondamage"
                                 data-item-id="{{item.id}}" data-score="{{item.system.damage.score}}">
                                <label for="pips">{{localize 'OD6S.PIPS'}}</label>
                                <input title="{{localize 'OD6S.PIPS'}}" id="pips" type="number"
                                       onfocus="this.value=''"
                                       value="{{pipsFromScore item.system.damage.score}}" data-dtype="Number"
                                       {{#if item.system.stun.stun_only}}disabled{{/if}}/>
                            </div>
                        </div>
                    </div>
                {{/if}}
                {{#if (isMuscle item.system.subtype)}}
                    <div class="column">
                        <div class="flexrow flex-group-left" title="{{localize 'OD6S.WEAPON_MUSCLE'}}">
                            <label for="item.system.damage.muscle">{{localize 'OD6S.CHAR_STRENGTH_SHORT'}}</label>
                            <input id="item.system.damage.muscle" name="system.damage.muscle" type="checkbox"
                                   data-dtype="Boolean" {{checked item.system.damage.muscle}}/>
                        </div>
                    </div>
                {{/if}}
                <div class="column">
                    <div class="flexrow flex-group-left">
                        <label for="item.system.damage.type">{{localize 'OD6S.DAMAGE_TYPE'}}:</label>
                        <select name="system.damage.type" id="item.system.damage.type"
                                {{#if item.system.stun.stun_only}}disabled{{/if}}>
                            {{#select item.system.damage.type }}
                                {{#each (getDamageTypes) as |damagetype key|}}
                                    <option value="{{ key }}">
                                        {{localize damagetype}}
                                    </option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>
            </div>
            {{#if (isGrenadeDice item.system.subtype)}}
            {{else}}
                <div class="flexrow flex-group-center">{{localize 'OD6S.STUN_DAMAGE'}}</div>
            {{/if}}
            <div class="row">
                {{#if (isGrenadeDice item.system.subtype)}}
                {{else}}
                    <div class="column">
                        <div>
                            <div class="flex flex-group-left editweaponstun"
                                 data-item-id="{{item.id}}" data-score="{{item.system.stun.score}}">
                                <label for="dice">{{localize 'OD6S.DICE'}}</label>
                                <input title="{{localize 'OD6S.DICE'}}" id="dice" type="number"
                                       onfocus="this.value=''"
                                       value="{{diceFromScore item.system.stun.score}}" data-dtype="Number"/>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <div class="flex flex-group-left editweaponstun"
                                 data-item-id="{{item.id}}" data-score="{{item.system.stun.score}}">
                                <label for="pips">{{localize 'OD6S.PIPS'}}</label>
                                <input title="{{localize 'OD6S.PIPS'}}" id="pips" type="number"
                                       onfocus="this.value=''"
                                       value="{{pipsFromScore item.system.stun.score}}" data-dtype="Number"/>
                            </div>
                        </div>
                    </div>
                    <div class="flexrow flex-group-left">
                        <label for="item.system.stun.type">{{localize 'OD6S.DAMAGE_TYPE'}}:</label>
                        <select name="system.stun.type" id="item.system.stun.type">
                            {{#select item.system.stun.type }}
                                {{#each (getDamageTypes) as |damagetype key|}}
                                    <option value="{{ key }}">
                                        {{localize damagetype}}
                                    </option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                    <div class="column">
                        <div class="flexrow flex-group-left" title="{{localize 'OD6S.STUN_ONLY'}}">
                            <label for="item.system.stun.stun_only">{{localize 'OD6S.STUN_ONLY'}}</label>
                            <input id="item.system.stun.stun_only" name="system.stun.stun_only" type="checkbox"
                                   data-dtype="Boolean" {{checked item.system.stun.stun_only}}/>
                        </div>
                    </div>
                {{/if}}
            </div>
            {{#if (isExplosive item.system.subtype)}}
                {{#if (ne (isGrenadeDice item.system.subtype) true)}}
                    <div class="flexrow flex-group-left">
                        {{ localize 'OD6S.BLAST_RADIUS' }} {{localize 'OD6S.ZONE'}} {{localize 'OD6S.RANGE'}}
                        {{#each item.system.blast_radius as |radius key|}}
                            {{#if (ne key "4")}}
                                <input onfocus="this.value=''" data-dtype="Number"
                                       title="{{localize 'OD6S.ZONE'}} {{key}}"
                                       name="system.blast_radius.{{key}}.range" type="number" max="99"
                                       value="{{radius.range}}">
                            {{/if}}
                        {{/each}}
                    </div>
                {{/if}}
            {{/if}}
            {{#if (isGrenadeDice item.system.subtype) }}
                <div class="center">{{localize 'OD6S.BLAST_RADIUS'}}</div>
                <div class="grid grid-5col">
                    <div>{{localize 'OD6S.RANGE'}}</div>
                    {{#each item.system.blast_radius as |radius key|}}
                        <span class="flexrow flex-group-left"><input onfocus="this.value=''" data-dtype="Number"
                                                                     title="{{localize 'OD6S.ZONE'}} {{key}}"
                                                                     name="system.blast_radius.{{key}}.range"
                                                                     type="number" max="99"
                                                                     value="{{radius.range}}"></span>
                    {{/each}}
                </div>
                <div class="grid grid-5col">
                    <div>{{localize 'OD6S.DAMAGE'}}</div>
                    {{#each item.system.blast_radius as |radius key|}}
                        <span class="flexrow flex-group-left"><input onfocus="this.value=''" data-dtype="Number"
                                                                     title="{{localize 'OD6S.ZONE'}} {{key}}"
                                                                     name="system.blast_radius.{{key}}.damage"
                                                                     type="number" max="99"
                                                                     value="{{radius.damage}}">D</span>
                    {{/each}}
                </div>
            {{/if}}
            <div class="flexrow flex-group-left" data-attribute="{{item.system.attribute}}">
                <label for="item.system.attribute">{{localize 'OD6S.ATTRIBUTE'}}:</label>
                <select name="system.attribute" id="item.system.attribute" style="width: 70px;">
                    {{#select item.system.attribute }}
                        {{#each (getAttributes) as |attribute key|}}
                            <option value="{{ key }}">
                                {{localize attribute.name}}
                            </option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="flexrow flex-group-left">
                <label for="item.system.stats.skill">{{localize 'OD6S.SKILL'}}</label>
                <input title="{{localize 'OD6S.SKILL'}}" name="system.stats.skill"
                       value="{{item.system.stats.skill}}" data-dtype="String"/>
            </div>
            <div class="flexrow flex-group-left">
                <label for="item.system.stats.specialization">{{localize 'OD6S.SPECIALIZATION'}}</label>
                <input title="{{localize 'OD6S.SPECIALIZATION'}}" name="system.stats.specialization"
                       value="{{item.system.stats.specialization}}" data-dtype="String"/>
            </div>
            {{# if (and (useParrySkill) (eq item.system.subtype (localize 'OD6S.MELEE'))) }}
                <div class="flexrow flex-group-left">
                    <label for="item.system.stats.skill">{{localize 'OD6S.PARRY_SKILL'}}</label>
                    <input title="{{localize 'OD6S.PARRY_SKILL'}}" name="system.stats.parry_skill"
                           value="{{item.system.stats.parry_skill}}" data-dtype="String"/>
                </div>
                <div class="flexrow flex-group-left">
                    <label for="item.system.stats.skill">{{localize 'OD6S.PARRY_SPECIALIZATION'}}</label>
                    <input title="{{localize 'OD6S.PARRY_SPECIALIZATION'}}" name="system.stats.parry_specialization"
                           value="{{item.system.stats.parry_specialization}}" data-dtype="String"/>
                </div>
            {{/if}}
            <div class="flexrow flex-group-center">{{localize 'OD6S.ACTIVE_EFFECTS'}}</div>
            <div class="flexrow flex-group-center">
                <div class="flexrow flex-group-left">
                    <label for="item.system.mods.difficulty">{{localize 'OD6S.ATTACK_DIFFICULTY_MODIFIER'}}</label>
                    <input title="{{localize 'OD6S.ATTACK_DIFFICULTY_MODIFIER'}}" name="system.mods.difficulty"
                           onfocus="this.value=''"
                           type="number" data-dtype="Number" value="{{item.system.mods.difficulty}}"/>
                </div>
                <div class="flexrow flex-group-left">
                    <label for="item.system.mods.attack">{{localize 'OD6S.ATTACK_BONUS'}}</label>
                    <input title="{{localize 'OD6S.ATTACK_BONUS'}}" name="system.mods.attack" onfocus="this.value=''"
                           type="number" data-dtype="Number" value="{{item.system.mods.attack}}"/>
                </div>
                <div class="flexrow flex-group-left">
                    <label for="item.system.mods.damage">{{localize 'OD6S.DAMAGE_BONUS'}}</label>
                    <input title="{{localize 'OD6S.DAMAGE_BONUS'}}" name="system.mods.damage" onfocus="this.value=''"
                           type="number" data-dtype="Number" value="{{item.system.mods.damage}}"/>
                </div>
            </div>
        </div>

        {{!-- Effects Tab --}}
        {{> systems/od6s/templates/item/item-effects.html }}

        {{!--Labels Tab --}}
        {{> systems/od6s/templates/item/item-labels-tags.html }}
    </section>
</form>
