<form>
    <div>
        <label for="itemname"><b>{{localize 'OD6S.NAME'}}</b>:</label>
        <select name="itemname" id="itemname">
            {{#select itemname}}
                {{#each templateItems as |item key|}}
                    <option value="{{item.name}}" data-description="{{item.system.description}}">{{item.name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</form>