<div class="tab main" data-group="primary" data-tab="main">
    <div class="row">
        <div class="column">
            <h4 class="flex-group-center">{{localize 'OD6S.ATTRIBUTES'}}</h4>
            <div class="grid grid-2col">
                <div class="flexrow flex-group-left">
                    <div class="flexrow flex-group-left">
                        {{localize actor.system.armor.label}}
                    </div>
                    <div class="flex-group-center">
                        <b>{{diceFromScore actor.system.armor.score}}</b>D+<b>{{pipsFromScore
                            actor.system.armor.score}}</b>
                    </div>
                </div>
                <div class="flexrow flex-group-left">
                    <div class="flexrow flex-group-left edit-dodge{{#if actor.system.embedded_pilot.value}}
                    attribute attributedialog rolldialog{{/if}}"
                        {{#if actor.system.embedded_pilot.value}}
                         data-subtype="vehicledodge"
                         data-type="dodge"
                         data-label="{{localize 'OD6S.ACTION_VEHICLE_DODGE'}}"
                         data-id="dodge"
                         data-token="{{actor.token.id}}"
                         data-score="{{getPilotManeuverTotal actor}}"
                        {{/if}}>
                        <label for="dodge"
                        >{{#if actor.system.embedded_pilot.value}}<b>{{/if}}
                            {{ localize 'OD6S.DODGE' }}
                            {{#if actor.system.embedded_pilot.value}}</b>{{/if}}
                            {{#if actor.system.embedded_pilot.value}}
                                &nbsp(<b>{{diceFromScore (getPilotManeuverTotal actor)}}</b>D+<b>{{pipsFromScore
                                    (getPilotManeuverTotal actor)}}</b>)
                            {{/if}}:</label>
                    </div>
                    <div>
                        <input title="{{localize 'OD6S.DODGE'}}" name="system.dodge.score"
                               value="{{actor.system.dodge.score}}"
                               placeholder="{{ actor.system.dodge.score }}"
                               id="actor.system.dodge.score"
                               onfocus="this.value=''" type="number" maxlength="2" size="2"/>
                    </div>
                </div>
                <div class="flexrow flex-group-left">
                    {{#if (eq actor.system.sheetmode.value "freeedit")}}
                        <label class="attribute attributedialog flex-group-center"
                               for="actor.system.maneuverability.score"><b>{{localize
                                actor.system.maneuverability.label}}</b>:</label>
                        <div class="edit-maneuverability">
                            <input title="{{localize 'OD6S.CHAR_MANEUVERABILITY'}}"
                                   name="maneuverability-dice" type="number"
                                   id="maneuverability-dice"
                                   data-id="maneuverability-dice"
                                   value="{{diceFromScore actor.system.maneuverability.score}}" min="0" max="99"
                                   placeholder="{{diceFromScore actor.system.maneuverability.score}}"
                                   data-type="Number"/></div>
                        D+
                        <div class="edit-maneuverability">
                            <input title="{{localize 'OD6S.CHAR_MANEUVERABILITY'}}" name="maneuverability-pips"
                                   type="number"
                                   id="maneuverability-pips"
                                   data-id="maneuverability-pips"
                                   value="{{pipsFromScore actor.system.maneuverability.score}}" min="0" max="99"
                                   placeholder="{{pipsFromScore actor.system.maneuverability.score}}"
                                   data-type="Number"/>
                        </div>
                    {{else}}
                        {{#if actor.system.embedded_pilot.value}}
                            <div class="attribute attributedialog flex-group-center{{#if
                                    (eq actor.system.sheetmode.value "normal")}} rolldialog{{/if}}"
                                 data-type="maneuverability"
                                 data-score="{{getPilotManeuverTotal actor}}"
                                 data-label="{{localize actor.system.maneuverability.label}}">
                                <b>{{ localize actor.system.maneuverability.label }}</b>
                            </div>
                            <div class="flex-group-center{{#if
                                    (eq actor.system.sheetmode.value "normal")}} rolldialog{{/if}}"
                                 data-type="maneuverability"
                                 data-score="{{getPilotManeuverTotal actor}}"
                                 data-label="{{localize actor.system.maneuverability.label}}">
                                <b>{{diceFromScore (getPilotManeuverTotal actor)}}</b>D+<b>{{pipsFromScore
                                    (getPilotManeuverTotal actor)}}</b>
                            </div>
                        {{else}}
                            <div class="attribute attributedialog flex-group-center{{#if
                                    (eq actor.system.sheetmode.value "normal")}} rolldialog{{/if}}"
                                 data-type="maneuverability"
                                 data-score="{{actor.system.maneuverability.score}}"
                                 data-label="{{localize actor.system.maneuverability.label}}">
                                <b>{{ localize actor.system.maneuverability.label }}</b>
                            </div>
                            <div class="flex-group-center{{#if
                                    (eq actor.system.sheetmode.value "normal")}} rolldialog{{/if}}"
                                 data-type="maneuverability"
                                 data-score="{{actor.system.maneuverability.score}}"
                                 data-label="{{localize actor.system.maneuverability.label}}">
                                <b>{{diceFromScore actor.system.maneuverability.score}}</b>D+<b>{{pipsFromScore
                                    actor.system.maneuverability.score}}</b>
                            </div>
                        {{/if}}
                    {{/if}}
                </div>
                <div class="flexrow flex-group-left">
                    <div class="attribute flexrow flex-group-left {{#if
                            (eq actor.system.sheetmode.value "normal")}} rolldialog{{/if}}"
                         title="{{getToughnessName actor.type}}"
                         data-type="vehicletoughness"
                         data-score="{{add actor.system.toughness.score actor.system.armor.score}}"
                         data-label="{{getToughnessName actor.type}}">
                        <b>{{getToughnessName actor.type}}</b>
                    </div>
                    <div class="flex-group-center {{#if (eq actor.system.sheetmode.value "normal")}} rolldialog{{/if}}"
                         title="{{getToughnessName actor.type}}"
                         data-type="vehicletoughness"
                         data-score="{{add actor.system.toughness.score actor.system.armor.score}}"
                         data-label="{{getToughnessName actor.type}}">
                        <b>{{diceFromScore (add actor.system.toughness.score actor.system.armor.score)}}</b>
                        D+<b>{{pipsFromScore (add actor.system.toughness.score actor.system.armor.score)}}</b>
                    </div>
                </div>
            </div>
            {{#if (gt actor.system.shields.value 0)}}
                <h4 class="flexrow flex-group-center">{{localize 'OD6S.SHIELDS'}}:
                    <div class="flex-group-center">{{ localize 'OD6S.TOTAL' }}: <b>{{diceFromScore
                            actor.system.shields.value}}</b>D+<b>{{pipsFromScore
                            actor.system.shields.value}}</b></div>
                    <div class="flex-group-center">
                        {{ localize 'OD6S.ALLOCATED'}}:
                        <b>{{diceFromScore actor.system.shields.allocated}}</b>D+<b>{{pipsFromScore
                            actor.system.shields.allocated}}</b></div>
                </h4>
                <div class="row">
                    <div class="column">
                        <div class="grid grid-shields">
                            <div class="flexrow flex-group-left">{{localize
                                    actor.system.shields.arcs.front.label}}</div>
                            <div title="{{localize 'OD6S.ALLOCATED'}}"
                                 class="flex-group-center{{#if
                                         (eq actor.system.sheetmode.value "normal")}} rolldialog{{/if}}"
                                 data-type="shields"
                                 data-score="{{actor.system.shields.arcs.front.value}}"
                                 data-label="{{localize actor.system.shields.arcs.front.label}} {{localize
                                         actor.system.shields.label}}">
                                <b>{{diceFromScore actor.system.shields.arcs.front.value}}
                                </b>D+<b>{{pipsFromScore actor.system.shields.arcs.front.value}}</b>
                            </div>
                            <div title="{{localize 'OD6S.TOTAL'}} {{getToughnessName 'starship'}}"
                                 class="flex-group-center{{#if
                                         (eq actor.system.sheetmode.value "normal")}} rolldialog{{/if}}"
                                 data-type="vehicletoughness"
                                 data-score="{{add actor.system.shields.arcs.front.value actor.system.toughness.score
                                                   actor.system.armor.score}}"
                                 data-label="{{getToughnessName 'starship'}}">
                                <b>{{diceFromScore
                                        (add actor.system.shields.arcs.front.value actor.system.toughness.score actor.system.armor.score)}}
                                </b>D+<b>{{pipsFromScore
                                    (add actor.system.shields.arcs.front.value actor.system.toughness.score actor.system.armor.score)}}</b>
                            </div>
                            <div class="flexrow flex-group-center">
                                <div class="arc" data-arc="front" data-direction="up">
                                    <i class="fas fa-plus-square"></i>
                                </div>
                                <div class="arc" data-arc="front" data-direction="down">
                                    <i class="fas fa-minus-square"></i>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-shields">
                            <div class="flexrow flex-group-left">{{localize actor.system.shields.arcs.left.label}}</div>
                            <div title="{{localize 'OD6S.ALLOCATED'}}"
                                 class="flex-group-center{{#if
                                         (eq actor.system.sheetmode.value "normal")}} rolldialog{{/if}}"
                                 data-type="shields"
                                 data-score="{{actor.system.shields.arcs.left.value}}"
                                 data-label="{{localize actor.system.shields.arcs.left.label}} {{localize
                                         actor.system.shields.label}}">
                                <b>{{diceFromScore actor.system.shields.arcs.left.value}}
                                </b>D+<b>{{pipsFromScore actor.system.shields.arcs.left.value}}</b>
                            </div>
                            <div title="{{localize 'OD6S.TOTAL'}} {{getToughnessName 'starship'}}"
                                 class="flex-group-center{{#if
                                         (eq actor.system.sheetmode.value "normal")}} rolldialog{{/if}}"
                                 data-type="vehicletoughness"
                                 data-score="{{add actor.system.shields.arcs.left.value actor.system.toughness.score
                                                   actor.system.armor.score}}"
                                 data-label="{{getToughnessName 'starship'}}">
                                <b>{{diceFromScore
                                        (add actor.system.shields.arcs.left.value actor.system.toughness.score actor.system.armor.score)}}
                                </b>D+<b>{{pipsFromScore
                                    (add actor.system.shields.arcs.left.value actor.system.toughness.score actor.system.armor.score)}}</b>
                            </div>
                            <div class="flexrow flex-group-center">
                                <div class="arc" data-arc="left" data-direction="up">
                                    <i class="fas fa-plus-square"></i>
                                </div>
                                <div class="arc" data-arc="left" data-direction="down">
                                    <i class="fas fa-minus-square"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="grid grid-shields">
                            <div class="flexrow flex-group-left">{{localize actor.system.shields.arcs.rear.label}}</div>
                            <div title="{{localize 'OD6S.ALLOCATED'}}"
                                 class="flex-group-center{{#if
                                         (eq actor.system.sheetmode.value "normal")}} rolldialog{{/if}}"
                                 data-type="shields"
                                 data-score="{{actor.system.shields.arcs.rear.value}}"
                                 data-label="{{localize actor.system.shields.arcs.rear.label}} {{localize
                                         actor.system.shields.label}}">
                                <b>{{diceFromScore actor.system.shields.arcs.rear.value}}
                                </b>D+<b>{{pipsFromScore actor.system.shields.arcs.rear.value}}</b>
                            </div>
                            <div title="{{localize 'OD6S.TOTAL'}} {{getToughnessName 'starship'}}"
                                 class="flex-group-center{{#if
                                         (eq actor.system.sheetmode.value "normal")}} rolldialog{{/if}}"
                                 data-type="vehicletoughness"
                                 data-score="{{add actor.system.shields.arcs.rear.value actor.system.toughness.score
                                                   actor.system.armor.score}}"
                                 data-label="{{getToughnessName 'starship'}}">
                                <b>{{diceFromScore
                                        (add actor.system.shields.arcs.rear.value actor.system.toughness.score actor.system.armor.score)}}
                                </b>D+<b>{{pipsFromScore
                                    (add actor.system.shields.arcs.rear.value actor.system.toughness.score actor.system.armor.score)}}</b>
                            </div>
                            <div class="flexrow flex-group-center">
                                <div class="arc" data-arc="rear" data-direction="up">
                                    <i class="fas fa-plus-square"></i>
                                </div>
                                <div class="arc" data-arc="rear" data-direction="down">
                                    <i class="fas fa-minus-square"></i>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-shields">
                            <div class="flexrow flex-group-left">{{localize
                                    actor.system.shields.arcs.right.label}}</div>
                            <div title="{{localize 'OD6S.ALLOCATED'}}"
                                 class="flex-group-center{{#if
                                         (eq actor.system.sheetmode.value "normal")}} rolldialog{{/if}}"
                                 data-type="shields"
                                 data-score="{{actor.system.shields.arcs.right.value}}"
                                 data-label="{{localize actor.system.shields.arcs.right.label}} {{localize
                                         actor.system.shields.label}}">
                                <b>{{diceFromScore actor.system.shields.arcs.right.value}}
                                </b>D+<b>{{pipsFromScore actor.system.shields.arcs.right.value}}</b>
                            </div>
                            <div title="{{localize 'OD6S.TOTAL'}} {{getToughnessName 'starship'}}"
                                 class="flex-group-center{{#if
                                         (eq actor.system.sheetmode.value "normal")}} rolldialog{{/if}}"
                                 data-type="vehicletoughness"
                                 data-score="{{add actor.system.shields.arcs.right.value actor.system.toughness.score
                                                   actor.system.armor.score}}"
                                 data-label="{{getToughnessName 'starship'}}">
                                <b>{{diceFromScore
                                        (add actor.system.shields.arcs.right.value actor.system.toughness.score actor.system.armor.score)}}
                                </b>D+<b>{{pipsFromScore
                                    (add actor.system.shields.arcs.right.value actor.system.toughness.score actor.system.armor.score)}}</b>
                            </div>
                            <div class="flexrow flex-group-center">
                                <div class="arc" data-arc="right" data-direction="up">
                                    <i class="fas fa-plus-square"></i>
                                </div>
                                <div class="arc" data-arc="right" data-direction="down">
                                    <i class="fas fa-minus-square"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
            {{#if (getSensorsConfig)}}
                {{#if actor.system.sensors.value }}
                    <div class="flexrow flex-group-center">
                        {{ localize 'OD6S.SENSORS' }}
                    </div>
                    <div class="grid grid-2col">
                        {{#each actor.system.sensors.types as |sensortype key|}}
                            <div class="flexrow flex-group-center">
                                {{localize sensortype.label}}:
                                <div title="{{localize 'OD6S.RANGE'}}">{{sensortype.range}}</div>
                                <div title="{{localize 'OD6S.SCORE'}}"
                                     class="flex-group-center{{#if
                                             (eq ../actor.system.sheetmode.value "normal")}} rolldialog{{/if}}"
                                     data-type="sensors"
                                     data-score="{{getPilotSensorsTotal ../this.actor key}}"
                                     data-label="{{localize 'OD6S.SENSORS'}} {{localize sensortype.label}}">
                                    {{#if ../actor.system.embedded_pilot.value}}
                                        <b>{{diceFromScore (getPilotSensorsTotal ../this.actor key)}}</b>D+
                                        <b>{{pipsFromScore (getPilotSensorsTotal ../this.actor key)}}</b>
                                    {{else}}
                                        <b>{{diceFromScore sensortype.score}}
                                        </b>D+<b>{{pipsFromScore sensortype.score}}</b>
                                    {{/if}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                {{/if}}
            {{/if}}
        </div>
        <div class="column">
            {{#if actor.system.embedded_pilot.value}}
                <div class="grid title-add-grid">
                    <div class="flexrow flex-group-center">{{localize 'OD6S.EMBEDDED_PILOT'}}</div>
                    <div class="flexrow flex-group-center item-controls">
                        <a class="embedded-pilot-add" title="{{localize 'OD6S.ADD_EMBEDDED_PILOT'}}"
                           data-type="embedded-pilot">
                            <i class="fas fa-plus"></i></a>
                    </div>
                </div>
                {{#if actor.system.embedded_pilot.actor.name}}
                    <div class="embedded-pilot">
                        <div class="grid title-add-grid">
                            <div class="flexrow flex-group-center">{{actor.system.embedded_pilot.actor.name}}</div>
                            <div class="flexrow flex-group-center item-controls">
                                <a class="embedded-pilot-remove" title="{{localize 'OD6S.REMOVE_EMBEDDED_PILOT'}}"
                                   data-type="embeddedpilotremove">
                                    <i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                        <ul class="attribute-list">
                            {{#each actor.system.attributes as |attribute key|}}
                                {{> systems/od6s/templates/actor/common/tabs/attribute-column.html
                                        actor=../actor key=key attribute=attribute system=../system}}
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}
            {{else}}
                <div class="grid title-add-grid">
                    <div class="flexrow flex-group-center">{{localize 'OD6S.CREW'}}</div>
                    <div class="flexrow flex-group-center item-controls">
                        <a class="crew-add" title="{{localize 'OD6S.ADD_CREW'}}" data-type="crewmember">
                            <i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div>
                    <ul class="crew-list">
                        {{#each actor.system.crewmembers as |crewmember|}}
                            <li class="crew-list item" data-crew-uuid="{{crewmember.uuid}}">
                                <div class="grid title-add-grid">
                                    <div class="flexrow flex-group-left crew-member"
                                         data-uuid="{{crewmember.uuid}}">
                                        {{crewmember.name}}
                                    </div>
                                    <div class="flexrow flex-group-center">
                                        <a data-crewId="{{crewmember.uuid}}"
                                           data-vehicleId="{{../actor.uuid}}"
                                           data-type="weapon"
                                           class="item-control crew-delete small-font"
                                           title="{{localize 'OD6S.REMOVE_CREW'}}">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}
        </div>
    </div>
    <div class="grid title-add-grid">
        <div class="flexrow flex-group-center">{{localize 'OD6S.WEAPONS'}}</div>
        <div class="flexrow flex-group-center item-controls">
            <a class="item-control item-create" title="{{localize 'OD6S.ADD_STARSHIP_WEAPON'}}"
               data-type="starship-weapon">
                <i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div>
        <ul class="weapons-list">
            {{#each actor.starship_weapons as |weapon key|}}
                <li class="weapons item" data-item-id="{{weapon._id}}">
                    <div class="inv-grid vehicle-ranged-weapon-grid">
                        <div class="equip-checkbox" data-item-id="{{weapon ._id}}">
                            <input type="checkbox" name="weapon actor.system.equipped.value"
                                   id="weapon actor.system.equipped.value" data-dtype="Boolean"
                                   title="{{localize 'OD6S.EQUIPPED'}}"
                                {{checked weapon.system.equipped.value}}>
                        </div>
                        <div class="flexrow flex-group-left{{#if
                                ../actor.system.embedded_pilot.value}} actionroll{{/if}}
                            {{#if (gt weapon.system.damaged 0)}} damaged{{/if}}"
                             title="{{weapon.description}}"
                            {{#if ../actor.system.embedded_pilot.value}}
                             data-type="rangedattack"
                             data-name="{{weapon.name}}"
                             data-item-id="{{weapon._id}}"
                             data-rollable="true"
                             data-id="{{weapon._id}}"
                            {{/if}}
                        >{{weapon.name}}
                            {{#if ../actor.system.embedded_pilot.value}}
                                <b>&nbsp;{{getPilotWeaponTotal ../actor weapon}}</b>{{/if}}</div>
                        <div class="flexrow flex-group-left"
                             title="{{localize 'OD6S.ARC'}}">
                            {{localize weapon.system.arc.value}}</div>
                        <div class="flexrow flex-group-center"
                             title="{{localize 'OD6S.RANGE'}}">
                            {{weapon.system.range.short}}/{{weapon.system.range.medium}}
                            /{{weapon.system.range.long}}</div>
                        <div class="flexrow flex-group-center rolldialog"
                             title="{{localize 'OD6S.DAMAGE'}}"
                             data-score="{{weapon.system.damage.score}}"
                             data-label="{{weapon.name}}: {{localize 'OD6S.DAMAGE'}}"
                             data-type="damage"
                             data-dtype="{{ weapon.system.damage.type }}"
                             data-item-id="{{weapon._id}}">
                            <b>{{diceFromScore weapon.system.damage.score}}D+{{pipsFromScore
                                    weapon.system.damage.score}}</b>
                        </div>
                        <div class="flexrow flex-group-center" title="{{localize 'OD6S.FIRE_CONTROL'}}">
                            {{diceFromScore weapon.system.fire_control.score}}D+{{pipsFromScore
                                weapon.system.fire_control.score}}</div>
                        <div class="item-controls flexrow flex-group-center"
                             data-item-id="{{weapon._id}}"
                             data-type="weapon">
                            <a class="item-control item-edit small-font" data-item-id="{{weapon._id}}"
                               title="Edit Weapon">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a data-item-id="{{weapon._id}}"
                               data-type="weapon"
                               class="item-control item-delete small-font"
                               title="Delete Weapon">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
    <br>
    <div class="grid title-add-grid">
        <div class="flexrow flex-group-center">{{localize 'OD6S.GEAR'}}</div>
        <div class="flexrow flex-group-center item-controls">
            <a class="item-control item-create" title="{{localize 'OD6S.ADD_GEAR'}}"
               data-type="starship-gear">
                <i class="fas fa-plus"></i></a>
        </div>
    </div>
    <div>
        <ul class="gear-list">
            <div class="grid grid-2col">
                {{#each actor.starship_gear as |item key|}}
                    <li class="item" data-item-id="{{item._id}}">
                        <div class="inv-grid gear-grid">
                            <div class="equip-checkbox" data-item-id="{{item._id}}">
                                <input type="checkbox" name="system.equipped.value"
                                       id="item.system.equipped.value" data-dtype="Boolean"
                                       title="{{localize 'OD6S.EQUIPPED'}}"
                                    {{checked item.system.equipped.value}}>
                            </div>
                            <div class="edit-quantity" title="{{localize 'OD6S.QUANTITY'}}"
                                 data-item-id="{{item._id}}">
                                <input type="number" name="system.quantity"
                                       id="actor.system.quantity" data-dtype="Number"
                                       value="{{item.system.quantity}}">
                            </div>
                            <div class="flexrow flex-group-left"
                                 title="{{item.description}}">{{item.name}}</div>
                            <div class="item-controls flexrow flex-group-center"
                                 data-item-id="{{item._id}}"
                                 data-type="item">
                                <a class="item-control item-edit small-font" data-item-id="{{item._id}}"
                                   title="{{localize 'OD6S.EDIT_ITEM'}}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a data-item-id="{{item._id}}"
                                   data-type="item"
                                   class="item-control item-delete small-font"
                                   title="{{localize 'OD6S.DELETE_ITEM'}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </div>
        </ul>
    </div>
</div>