<form autocomplete="off" onsubmit="event.preventDefault();">
    <div class="flexrow flex-group-left">
        <label for="wildie">{{localize "OD6S.CHOOSE_WILD_EFFECT"}}:</label>
        <select name="wilddie" id="wilddie">
            {{#select effect}}
                <option value="0">{{localize 'OD6S.WILD_DIE_NONE'}}</option>
                <option value="1">{{localize 'OD6S.REMOVE_HIGHEST_DIE'}}</option>
                <option value="2">{{localize 'OD6S.COMPLICATION'}}</option>
            {{/select}}
        </select>
    </div>
    <input name="messageId" type="hidden" value="{{object.currentTarget.dataset.messageId}}">
    <div class="flexrow flex-group-center"
         data-message-id="{{object.currentTarget.dataset.messageId}}">
        <button type="submit" name="submit" value="submit">{{localize "OD6S.SUBMIT"}}</button>
        <button type="submit" name="cancel" value="cancel">{{localize "OD6S.CANCEL"}}</button>
    </div>
</form>